article
    padding: 20px
    display: flex
    position: relative
    flex-wrap: wrap

    div.pokemonCarta
        width: 120px
        height: 260px
        margin: 0px
        padding: 10px
        img 
            width: 120px
        ul 
            margin: 0
            padding: 0 10px
        li 
            list-style: none

