<section *ngIf="cartas; else naoExiste">
    <article *ngFor="let carta of cartas">
      <a routerLink="/detalhe/{{ carta.id }}" routerLinkActive="active">
        <div class='pokemonCarta'>
          <div><img src = "{{ carta.imageUrl }}" alt="Foto do {{carta.nome}}"></div>
          <div>Nome: {{ carta.name }}</div>
          <div>Id : {{ carta.id }}</div>
          <div *ngIf="carta.types">
            Tipos: 
            <ul *ngFor="let tipo of carta.types">
              <li>{{ tipo }}</li>
            </ul>
          </div>
        </div>
      </a>
    </article>
  </section>

<ng-template #naoExiste>
  <article>
    <h2> Não existem resultados para a sua pesquisa</h2>
  </article>
</ng-template>